# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- List of the commonly used libraries used by Data Scientists.
- Data Science Tools.
- Examples of evaluating arithmetic expressions in Python.
- This will convert 200 minutes to hours by diving by 60

##### Some of the popular languages that Data Scientists use are:
  1. Python
  2. Java
  3. R

##### Some of the commonly used libraries used by Data Scientists include:
  1. NumPy
  2. Matplotlib
  3. TensorFlow

|Data Science Tools|
|----------------- |
| Apache Spark |
| R Studio  |
| Power BI |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5

17

In [5]:
minutes = 200
hours = minutes / 60
print("Hours:", hours)

Hours: 3.3333333333333335

## Author
Sandeep